# Next.js
codice-sorgente/.next/
codice-sorgente/node_modules/
codice-sorgente/package-lock.json
node_modules/
package-lock.json
.DS_Store
.env
# build artifacts
codice-sorgente/out/
codice-sorgente/public/projects/
# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
